body{
    background-image: url("background.jpg");
    color: white;
    background-repeat: round;
}

div{
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: black;
    opacity: 90%;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}